Package: projman
Version: 2.0.0-alpha
Architecture: amd64
Maintainer: Sergey Kalinin svk@nuk-svk.ru
Installed-Size: 1563
Depends: tcl (>= 8.6), tk (>= 8.6), tcllib, tklib
Section: Develop
Priority: optional
Homepage: https://nuk-svk.ru
Description: Projman is a yet another editor
